@charset "UTF-8";

:root{
    --cor1:black;
    --cor2:white;
    --cor3:rgba(0, 0, 0, 0.486);
    --cor4:#00000000;
}

*{
    margin: 0px;
}

a{
    text-decoration: none;
    font-weight:bolder;
    color:var(--cor2);
}
a:hover{
    text-decoration:underline;
}

header{
    background-color:var(--cor1);
    
}

header>h1{
    color: white;
    font: weight 999px;;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
}

header>p{
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
    padding-top: 0px;
    text-align: center;
}

main{
    padding: 30px;
}

.joaninha{
    background-color:rgba(0, 0, 0, 0.486);
}

.folhas{
    background-color:var(--cor2);
}

footer{
    background-color:black;
}

footer>p{
    color: white;
    text-align: center;
}